include _variable/_base
include _variable/_common

- var path = '';
- var pageType = 'index';
doctype
html(lang='ja')
    head
        include _common/_head
    body
        my-app
        include _common/_script
