- var fbBaseUrl = "http://www.facebook.com/sharer.php?&u="
- var twBaseUrl = "http://twitter.com/intent/tweet?text=";
- var lineBaseUrl = "http://line.me/R/msg/text/?"
- var fbUrlStage = "hogehoge"
- var fbUrlProduction = "hogehoge"
- var ogBaseUrl = "hogehoge"
- var hashTag = " #hogehoge"

- var missFbUrl = fbBaseUrl + fbUrlProduction + "hogehoge.html"
- var missTwTxt = twBaseUrl + encodeURIComponent("hogehoge" + hashTag)
- var missLineTxt = lineBaseUrl + encodeURIComponent("hogehoge")